{% extends "../base.html" %}


{% block content %}
<div class="page-header">
  <h1>TODO list <small>tasks</small></h1>
</div>

<form id="form-create" class="form-create form-horizontal" role="form" style="display:none;">
    <div class="form-group">
        <label for="description">Task description</label>
        <input id="description" name="description" type="text" placeholder="add new task" class="input-lg form-control" required="" autocomplete="off" autofocus/>
    </div>
    <div class="form-group">
        <label for="due_date">Due date</label>
        <input id="due_date" name="due_date" type="date" class="input-medium form-control" autocomplete="off"/>
    </div>
    <div class="form-group">
        <label for="description">Priority</label>
        <select id="priority" name="priority" required="" class="input-small form-control">
            <option value="1">1</option>
            <option value="2" selected="selected">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

<table id="table-list" class="table table-striped table-hover table-condensed table-responsive tablesorter">
    <thead>
        <tr>
            <th class="col-lg-1">Priority</th>
            <th class="col-lg-2">Due date</th>
            <th class="col-lg-6">Description</th>
            <th class="col-lg-1">Completed</th>
            <th class="col-lg-1">Edit</th>
            <th class="col-lg-1">Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% end %}


{% block js %}
    <script language="JavaScript">
    var client = new SecretRestClient("{{ current_user.secret_key }}", "{{ current_user.id }}", "/api/todolist/{{ todolist_id }}/tasks", "1");

    var defaultErrorHandler = function(response, status) {
        $.pnotify({
            type: 'notice',
            delay: 3000,
            title: 'Invalid action',
            text: 'Could not retrieve server data right now'
        });
    };

    $(document).ready(function() {
        var textExtraction = function(node) {
            if (node.innerHTML.startsWith("<input")) {
                if(node.innerHTML.contains("checked")) {
                    return "1";
                } else {
                    return "0";
                }
            } else {
                return node.innerHTML;
            }
        }

        // $("#table-list").tablesorter({textExtraction:textExtraction});
        var secretTable = new SecretDataTable({
            table: $("#table-list"),
            columns: [
                function(data, id) { return data.priority },
                function(data, id) { return data.due_date },
                function(data, id) { return linkify(data.description) },
                function(data, id) {
                    var completed = createCheckbox("completed", data.completed);
                    completed.change(function() {
                        var value = $(this).is(":checked");
                        client.update(id, {completed:value});
                    });
                    return completed;
                }
            ],
            formCreate: $("#form-create"),
            formEdit: $("#form-create"),
            onTableLoad: function(table) {
                client.list(0, 500, function(lines, status) {
                    for (var i in lines) {
                        var data = lines[i];
                        //console.debug(data);
                        table.createLine(data._id, data);
                    }
                }, defaultErrorHandler);
            },
            onCreate: function(table, data) {
                var successHandler = function(response, status) {
                    table.createLine(response._id, data);
                };
                client.create(data, successHandler, defaultErrorHandler);
            },
            onUpdate: function(table, id, data) {
                var successHandler = function(response, status) {
                    table.updateLine(id, data);
                };
                client.update(id, data, successHandler, defaultErrorHandler);
            },
            onDelete: function(table, id, data) {
                var successHandler = function(response, status) {
                    table.deleteLine(id, data);
                };
                client.del(id, successHandler, defaultErrorHandler);
            },
            onTableChange: function(table) {
                // table.trigger("update");
                // table.trigger("updateAll");
            },
            onModalReady: function(modal){
                // modal.find('[name="priority"]').spinner({min:1, max:3});
            }
        });
    });
  </script>
{% end %}
