{% extends "../base.html" %}


{% block content %}
<div class="page-header">
  <h1>TODO list <small>tasks</small></h1>
</div>

<h2><small>New</small></h2>

<form id="form-create" action="/api/tasks" method="post" class="form-create form-inline" role="form">
    <div class="form-group">
        <label for="description">Task description</label>
        <input id="description" name="description" type="text" placeholder="add new task" class="input-xlarge form-control" required="" autocomplete="off" autofocus/>
    </div>
    <div class="form-group">
        <label for="due_date">Due date</label>
        <input id="due_date" name="due_date" type="text" placeholder="yyyy/mm/dd" class="input-medium form-control" autocomplete="off"/>
    </div>
    <div class="form-group">
        <label for="description">Priority</label>
        <select id="priority" name="priority" required="" class="input-small form-control">
            <option value="1">1</option>
            <option value="2" selected="selected">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" style="vertical-align: bottom;">Add</button>
</form>

<h2><small>Tasks</small></h2>

<table id="table-list" class="table table-striped table-hover table-condensed table-responsive tablesorter" action="/api/tasks">
    <thead>
        <tr>
            <th>Description</th>
            <th>Due date</th>
            <th>Priority</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Editing</h4>
      </div>
      <form>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
      </form>
    </div>
  </div>
</div>

<button id="openModal" type="button" class="btn btn-default" data-dismiss="modal" onclick='$("#myModal").modal();'>Open Modal</button>

{% end %}


{% block js %}
    <script src="/static/js/jquery.rest.min.js"></script>
    <script src="/static/js/jquery.tablesorter.min.js"></script>

    <script language="JavaScript">
    $(".form-create").asyncForm(function(data, status) {
        var updateForm = createUpdateForm("/api/tasks/" + data._id);
        var deleteForm = createDeleteForm("/api/tasks/" + data._id + "/delete");
        addTableLine("table-list", [data.description, data.due_date, data.priority, updateForm, deleteForm]);
    }, function(data, status) {
        $.pnotify({
            type: 'notice',
            delay: 3000,
            title: 'Invalid action',
            text: 'Please, fix your data and try again'
        });
    });

    $(document).ready(function(data, status) {
        $("#table-list").populateTable(function(lines, status) {
            for (var i in lines) {
                var data = lines[i];
                var updateForm = createUpdateForm("/api/tasks/" + data._id);
                var deleteForm = createDeleteForm("/api/tasks/" + data._id + "/delete");
                addTableLine("table-list", [data.description, data.due_date, data.priority, updateForm, deleteForm]);
            }
        }, function(data, status) {
            $.pnotify({
                type: 'notice',
                delay: 3000,
                title: 'Invalid action',
                text: 'Could not retrieve server data'
            });
        });
        $("#table-list").tablesorter();
    });

    // https://github.com/jpillora/jquery.rest
    // var client = new $.RestClient('/api/');
    // var client = new $.RestClient('/rest/api/', {
    //   username: 'admin',
    //   password: 'secr3t'
    // });

    // client.add('tasks'{
    //     stripTrailingSlash: true,
    // });
    // client.tasks.read();
    // client.tasks.read(42);
    // client.tasks.read().done(function(data) {});
    // client.tasks.create();
    // client.tasks.create({description:21, due_date:42});
    // client.tasks.update(42, {description:description, due_date:due_date});
    // client.tasks.del(42);
  </script>
{% end %}
